.singleValueCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    height: 100%;
    min-height: 100px;
    padding: 1rem;
    margin: 1rem 0.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #fff;
    transition: all 0.3s ease;
}

.title {
    font-size: 14px;
    font-weight: 500;
    color: #4b5563;
    margin-bottom: 0.5rem;
}

.value {
    font-size: 20px;
    font-weight: 600;
    color: #374151;
    padding-bottom: 12px;
}